{# {% block script %} #}
{# <script src="https://www.w3.org/Tools/respec/respec-w3c"></script> #}
{# //config for the spec, load from the json #}
{# {% endblock script %} #}
{% block content %}
    <h1>{{ title }}</h1>
    <ul>
        {% for spec in collections.specs %}
            <li>
                <a href="{{ spec.page.url }}">{{ spec.data.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
