{% extends "base.njk" %}
{% block content %}
    <h1>{{ title }}</h1>
    <ul>
        {% for spec in collections.specs %}
            <li>
                <a href="{{ spec.page.url }}">{{ spec.data.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
